@{
    ViewData["Title"] = "Home Page";
}


<div class= "text-center pb-3">
    <h4>
    Encontre o medico para a especialidade que você deseja, mais perto de você
    </h4>
</div>
<div class="row">
<div class="col-lg-3 col-6">

<div class="small-box bg-info">
<div class="inner">
<h3>150</h3>
<p>Medicos Catalogados</p>
</div>
<div class="icon">
<i class="fas fa-shopping-cart"></i>
</div>

</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-success">
<div class="inner">
<h3>53<sup style="font-size: 20px">%</sup></h3>
<p>Unidades Cadastradas</p>
</div>
<div class="icon">
<i class="ion ion-stats-bars"></i>
</div>

</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-warning">
<div class="inner">
<h3 class="text-light">44</h3>
<p class="text-light">Especialidades Disponiveis</p>
</div>
<div class="icon">
<i class="fas fa-user-plus"></i>
</div>

</div>
</div>

<div class="col-lg-3 col-6">

<div class="small-box bg-danger">
<div class="inner">
<h3>65</h3>
<p>Unique Visitors</p>
</div>
<div class="icon">
<i class="fas fa-chart-pie"></i>
</div>

</div>
</div>

</div>