html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.color-header {
    background-color: rgb(18 68 139);
}
.logo-site {
    width: 100px;
    height: 50px;
    color: white;
    filter: sepia(100%);
}